h1{
    border:solid blue 5px;
    text-align: center;
    padding: 10px
    
}
table{
    width: 100%;
}
td{
    border:solid blue 2px;
    
}


#submitButton{
    background-color: blue;
    color:white
}